@font-face {
  font-family: phantasm; 
  src: url(../p.ttf); 
}
body{
  background-color: black;
  color:aqua;
  font-family: phantasm;
}
#btnGetTxt{
  border-style:solid;
  border-color:aqua;
  background-color:black;
  color:aqua;
  cursor:pointer;
  padding: 30px 20px; line-height: 50px;
  width:40%;
  font-family: phantasm;
  margin-top:10%;
  margin-left:30%;
}
button:hover{
  transform: scale(0.98);
}
div{
  margin-top:10%;
}
a{
  text-decoration: none;
  border-style:solid;
  border-radius:5px;
  border-color:rgb(109, 109, 109);
  padding: 10px 5px; line-height: 15px;
  display: inline;
  margin-left:3%;
  font-family: phantasm;
  cursor: pointer;
  color:aqua;
}
.a:hover{
 transform: scale(0.98);
}
.menu{
  border-style:solid;
  border-radius:5px;
  border-color:blue;
  padding: 20px 10px; line-height: 30px;
  background-color:black;
  color:aqua;
  font-family: phantasm;
  cursor: pointer;
}
.menu:hover{
  transform: scale(0.98);
}
.df{
  border-style:solid;
  border-radius:5px;
  border-color:rgb(78, 0, 0);
  padding: 10px 5px; line-height: 15px;
  color:aqua;
  background-color: black;
  display: inline;
  margin-left:3%;
  font-family: phantasm;
  cursor: pointer;
}
.df:hover{
  transform: scale(0.98);
}
form{
  display: inline;
}
#password{
  border-style:solid;
  border-color:aqua;
  background-color:black;
  color:aqua;
  border-radius:5px;
  padding: 20px 10px; line-height: 30px;
  width:20%;
  font-family: phantasm;
}
#chkusr{
  border-style:solid;
  border-color:aqua;
  background-color:black;
  color:aqua;
  border-radius:5px;
  cursor: pointer;
  padding: 20px 10px; line-height: 30px;
  width:20%;
  font-family: phantasm;
}
.cl-btn-7 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
    display:inline;
    margin-left: 3%;
    margin-top: -1%;
}
.cl-btn-7:before {
    content: '+';
    color: aqua;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: aqua;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: red;
}
video{
  width: 30%;
  height: 25%;
}
audio{
  width: 30%;
  height: 25%;
}
img{
  width: 30%;
  height: 25%;
}
.openFile{
  border-style:solid;
  border-radius:5px;
  border-color:rgb(9, 255, 70);
  padding: 10px 5px; line-height: 15px;
  color:aqua;
  background-color: black;
  display: inline;
  margin-left:3%;
  font-family: phantasm;
  cursor: pointer;
}
.openFile:hover{
  transform: scale(0.98);
}
.txt{
  background-color: white;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
