@font-face {
  font-family: phantasm; 
  src: url(../p.ttf); 
}
body{
  background-color: black;
  color:aqua;
  font-family: phantasm;
}
#btnGetTxt{
  border-style:solid;
  border-color:aqua;
  background-color:black;
  color:aqua;
  cursor:pointer;
  padding: 30px 20px; line-height: 50px;
  width:40%;
  font-family: phantasm;
  margin-top:10%;
  margin-left:30%;
}
div{
  margin-top:10%;
}
a{
  text-decoration: none;
  border-style:solid;
  border-radius:5px;
  border-color:rgb(109, 109, 109);
  padding: 10px 5px; line-height: 15px;
  display: inline;
  margin-left:3%;
  font-family: phantasm;
  cursor: pointer;
}
.menu{
  border-style:solid;
  border-radius:5px;
  border-color:blue;
  padding: 20px 10px; line-height: 30px;
  background-color:black;
  color:blue;
  font-family: phantasm;
  cursor: pointer;
}
input{
  border-style:solid;
  border-radius:5px;
  border-color:rgb(78, 0, 0);
  padding: 10px 5px; line-height: 15px;
  color:blue;
  background-color: black;
  display: inline;
  margin-left:3%;
  font-family: phantasm;
  cursor: pointer;
}
form{
  display: inline;
}
#password{
  border-style:solid;
  border-color:aqua;
  background-color:black;
  color:aqua;
  border-radius:5px;
  padding: 20px 10px; line-height: 30px;
  width:20%;
  font-family: phantasm;
}
#chkusr{
  border-style:solid;
  border-color:aqua;
  background-color:black;
  color:aqua;
  border-radius:5px;
  cursor: pointer;
  padding: 20px 10px; line-height: 30px;
  width:20%;
  font-family: phantasm;
}
